<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>
    <ul>
      <% for (var i in urls) { %>
        <li><%= i %> - <%= urls[i] %>
          <form action="/urls/<%= i %>/delete" method="post">
            <input type="submit" value="Delete" class="btn btn-default">
          </form>
          <a href="/urls/<%= i %>">Edit</a>
<!--           <form action="/urls/<%= i %>" method="post">
            <input type="submit" value="Edit" class="btn btn-default">
          </form> -->
        </li>
      <% } %>
    </ul>
<!--   <pre><%= JSON.stringify(urls, null, 4) %></pre> -->
</body>
</html>

